.custom-dot {
  width: auto;
  height: 50px;
  padding-bottom: 10px;
}

.home-dot {
  width: auto;
  height: 10px;
}


.home,
.writing {
  background-image: url(./Assets/main-bg2.png);
  background-position: top;
  background-size: cover;
}

.material {
  background-image: url(./Assets/material-bg.png);
  background-position: top;
  background-size: cover;
}


/* Navbar */
navbar {
  display: flex;
  flex-direction: column;
  /* Sesuaikan sesuai kebutuhan Anda */
  color: #fff;
  transition: background-color 0.3s ease;
}

navbar img {
  width: 150px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 250px;
  padding-top: 25px;
  margin-bottom: 10px;
}

navbar.scrolled {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: #000000af;
  /* Ganti dengan warna yang Anda inginkan */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
  /* Optional: tambahkan bayangan */
}


.search {
  width: 800px;
  padding: 5px 15px;
  outline: none;
  border: none;
  border-radius: 15px;
  transition: all .3s;
}

.search:focus {
  padding-top: 10px;
  border-radius: 0px;
}

navbar p {
  font-size: 17px;
  font-weight: 550;
  cursor: pointer;
  transition: .3s;
}

.modalTitle {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  width: 350px;
  font-family: inter;
}

#join-option {
  text-decoration: none;
  margin-right: 10px;
  background-color: #2120E7;
  color: #FFF;
  padding: 10px 35px;
  border-radius: 5px;
  font-weight: 600;
  transition: .3s;

  &:hover {
    background-color: #0F0EA0;
  }
}

.btn-sign-main {
  margin: 20px 0px;
}

.btn-sign-main a {
  text-decoration: none;
}

.btn-sign {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: #FFF;
  border: 2px solid #2120E7;
  color: #2120E7;
  margin-bottom: 14px;
  font-size: 17px;
  font-weight: 500;
  transition: background-color .3s;

  &:hover {
    background-color: #0F0EA0;
    color: #FFF;
    border: none;
  }

}

.btn-sign img {
  width: 25px;
  background-color: #FFF;
  border-radius: 50%;
}


.btn-sign p {
  width: 375px;
}


.btn-sign a {
  text-decoration: none;
  width: 375px;
}

.note-mentor {
  color: grey;
}

.sign-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 250px;
  transition: all .3s;
  background-color: transparent;
}

.category.scrolledCategory {
  background-color: rgba(0, 0, 0, 0.5);
  /* Ganti dengan warna yang Anda inginkan */
  /* Optional: tambahkan bayangan */
}

#label {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: .3s;
  font-size: 16px;
  font-weight: 600;
}

#label:hover,
navbar p:hover {
  color: #466EFC;
}

.popular,
.recommendation,
.classweek {
  padding: 0px 250px;
}


.popular {
  margin-top: 50px;
}

.popular-head {
  font-size: 25px;
  color: white;
}

.popular-head span {
  text-decoration: underline;
  font-weight: 700;
}

.popular-card {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}

.class-desc {
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 17px;
}

.class-title {
  color: grey;
  margin-bottom: 5px;
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-img {
  width: 100%;
  height: auto;
}

.card-img-container {
  position: relative;
  transition: transform .3s;
  cursor: pointer;
}

.card-img-container:hover {
  transform: scale(1.1);
  border: #FFF 5px solid;
  border-radius: 22px;
}

.card-overlay {
  position: absolute;
  top: 1;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 30px;
  color: white;
}

.card-text {
  font-size: 20px;
}

.card-desc {
  font-size: 16px;
}

.bg-testi {
  background: linear-gradient(110deg, rgba(0, 0, 0, 0.56) 4.26%, rgba(0, 0, 0, 0.00) 97.98%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  border-radius: 20px;
  transition: all .3s;
}

.bg-testi img {
  width: 300px;
  height: auto;
  border-radius: 20px;
}

.say-testi {
  color: #FFF;
  text-align: justify;
  font-family: Inter;
  font-size: 42px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  width: 480px;
  margin-bottom: 50px;
}

.name-testi {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
}

.testi-btn {
  background-color: #2120E7;
}

.footer-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #FFF;
  padding: 200px 250px;
}

.footer-text {
  display: flex;
  flex-direction: row;
}

h5 {
  font-size: 20px;
}

.footer-text div {
  margin-right: 30px;
}

.footer-text p {
  font-size: 16px;
}

.footer-contact .footer-img {
  width: 350px;
}

.footer-contact p {
  font-size: 18px;
  font-weight: 600;
}

.follow-main {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

#ig,
#tiktok,
#x,
#yt,
#linkedin {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-position: center;
  background-size: cover;
  background-color: #FFF;
}

#tiktok {
  background-image: url('../src/Assets/tiktok_logo_icon_189233\ 1.png');
  margin-right: 15px;
}

#ig {
  background-image: url('../src/Assets/Instagram_logo_2016\ 1.png');
  margin-right: 15px;
}

#yt {
  background-image: url('../src/Assets/youtube-logo-youtube-icon-transparent-free-png\ 1.png');
  margin-right: 15px;
}

#x {
  background-image: url('../src/Assets/Twitter-new-cross-mark-Icon-PNG-X\ 1.png');
  margin-right: 15px;
}

#linkedin {
  background-image: url('../src/Assets/linkedin-logo-linkedin-icon-transparent-free-png\ 1.png');
  margin-right: 15px;
}

.headerClass-main {
  background: #0000004f;
  text-align: center;
  flex-shrink: 0;
  padding: 25px 0px;
  margin-top: 50px;
}

.headerClass-main p {
  color: #FFF;
  font-family: Inter;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.resume {
  font-size: 200px;
}

.class-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 100px;
}

.class-box {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 25px;
}

.class-box img {
  width: 300px;
  height: auto;
  border-radius: 15px;
  margin-bottom: 20px;
}

.class-box p {
  font-size: 25px;
  color: #FFF;
  font-weight: 700;
  margin-bottom: 15px;
}

#class-link {
  text-decoration: none;
  color: #FFF;
  transition: .3s;
}

#class-link:hover {
  transform: scale(1.1);
}


.headerMaterial-main {
  background: #0000004f;
  flex-shrink: 0;
  padding: 25px 250px;
  margin-top: 50px;
}

.headerMaterial-main p {
  color: #FFF;
  font-family: Inter;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.material-list {
  margin: 50px 250px;
  margin-right: 150px;
  display: flex;
  flex-direction: row;
}

.breadcrumbs {
  height: 40px;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 250px;
}

.breadcrumbs * {
  display: inline-block;
  margin-right: 10px;
}

.breadcrumbs .crumb::after {
  content: '>';
  color: #FFF;
  margin: 0px 10px;
  opacity: 0.5;
}

.breadcrumbs .crumb:last-child::after {
  display: none;
}

.breadcrumbs .crumb a {
  color: #FFF;
  text-decoration: none;
  font-weight: 450;
}

.list-main {
  margin-right: 200px;
}

.header-list {
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

li {
  color: #FFF;
  list-style: none;
}

#list-link {
  text-decoration: none;
  color: #FFF;
}

#menu-link {
  text-decoration: none;
  color: black;
}

#card-link {
  text-decoration: none;
  color: black;

}

.class-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.class-text p {
  margin-right: 20px;
}


.class-harga {
  font-size: 20px;
  font-weight: 700;
}

.class-img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.sign-mail {
  padding: 100px 250px;
}

.welcome-sign {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #FFF;
}

#outlet-sign {
  text-decoration: none;
  color: #FFF;
  background-color: #2120E7;
  padding: 10px 50px;
  transition: all .3s;
  border-radius: 15px;
  margin-right: 20px;
}

#outlet-sign:hover {
  background-color: #FFF;
  color: #466EFC;
}

#outlet-sign.active {
  color: #466EFC;
  background-color: #FFF;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

h5 {
  margin-bottom: 15px;
  margin-top: 25px;
  color: #FFF;
}

form input {
  margin-bottom: 14px;
  width: 600px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #FFF;
  border: none;
  outline: none;
  transition: .3s;
}

form input:focus {
  background-color: #FFF;
}

form input:hover {

  background-color: rgba(255, 255, 255, 0.096);
}

form select {
  margin-bottom: 14px;
  width: 300px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #FFF;
  border: none;
  outline: none;
  transition: .3s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.096);
    color: #FFF;
  }
}

.log-name {
  padding: 0px 250px;
  color: #FFF;
  font-family: Inter;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sign {
  height: 100vh;
  padding-left: 250px;
  background: linear-gradient(112deg, #101010 29.78%, #2120E7 105.38%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-sign {
  width: 150px;
  margin-top: 20px;
  margin-bottom: 200px;
}

.img-mentor {
  height: 100vh;
}

.upload-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
}

.upload-form input {
  width: 275px;
}

.ant-upload-text {
  background-color: #fff;
  border-radius: 15px;
}

.bank-form {
  display: flex;
  flex-direction: row;
}

.bank-form input {
  width: 390px;
  margin-right: 10px;
}

.bank-form select {
  width: 200px;
}

.prev-form {
  margin-right: 10px;
}

.nav-profile {
  background-color: #FFF;
  padding: 5px;
  border-radius: 20px;

}

.nav-profile span {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.detail-class {
  padding: 50px 250px;
  color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detail-left {
  width: 70%;
}

.detail-desc {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 30px;
}

.detail-mentor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data-mentor {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

/* FotoBadge.css */
.foto-badge-container {
  position: relative;
  display: inline-block;
}

.user-photo {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 20px;
}

.badge {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0px 20px;
  border-radius: 5px;
}

.badge img {
  border-radius: 25px;
}


.nama-mentor {
  font-size: 30px;
  font-weight: 700;
}

.lokasi-mentor {
  font-size: 20px;
  font-weight: 500;
}

.desc-mentor {
  font-size: 20px;
  font-weight: 500;
}

.skill-mentor {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.skill-mentor p {
  margin-right: 20px;
  background-color: #FFF;
  color: #2120E7;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: 400;
}

.center-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./Assets/main-bg2.png);
  background-position: top;
  background-size: cover;
}


.cube-loader {
  position: relative;
  /* u can choose any size */
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube-loader .cube-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0;
  left: 0; */
  transform-style: preserve-3d;
}

.cube-loader .cube-wrapper .cube-span {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0;
  left: 0; */
  /* width 75px / 2 = 37.5px */
  transform: rotateY(calc(90deg * var(--i))) translateZ(37.5px);
  background: linear-gradient(to bottom,
      hsl(330, 3.13%, 25.1%) 0%,
      hsl(177.27, 21.71%, 32.06%) 5.5%,
      hsl(176.67, 34.1%, 36.88%) 12.1%,
      hsl(176.61, 42.28%, 40.7%) 19.6%,
      hsl(176.63, 48.32%, 43.88%) 27.9%,
      hsl(176.66, 53.07%, 46.58%) 36.6%,
      hsl(176.7, 56.94%, 48.91%) 45.6%,
      hsl(176.74, 62.39%, 50.91%) 54.6%,
      hsl(176.77, 69.86%, 52.62%) 63.4%,
      hsl(176.8, 76.78%, 54.08%) 71.7%,
      hsl(176.83, 83.02%, 55.29%) 79.4%,
      hsl(176.85, 88.44%, 56.28%) 86.2%,
      hsl(176.86, 92.9%, 57.04%) 91.9%,
      hsl(176.88, 96.24%, 57.59%) 96.3%,
      hsl(176.88, 98.34%, 57.93%) 99%,
      hsl(176.89, 99.07%, 58.04%) 100%);
}

.cube-top {
  position: absolute;
  width: 100px;
  height: 100px;
  background: hsl(330, 3.13%, 25.1%) 0%;
  /* width 75px / 2 = 37.5px */
  transform: rotateX(90deg) translateZ(37.5px);
  transform-style: preserve-3d;
}

.cube-top::before {
  content: '';
  position: absolute;
  /* u can choose any size */
  width: 100px;
  height: 100px;
  background: hsl(176.61, 42.28%, 40.7%) 19.6%;
  transform: translateZ(-90px);
  filter: blur(10px);
  box-shadow: 0 0 10px #323232,
    0 0 20px hsl(176.61, 42.28%, 40.7%) 19.6%,
    0 0 30px #323232,
    0 0 40px hsl(176.61, 42.28%, 40.7%) 19.6%;
}

/* styles.css */

.date {
  /* Add your custom styles here */
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  /* Add any other styles you need */
}